*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.timer {
    text-align: right;
    margin: 16px;
}

.nav {
    position: absolute;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    align-content: flex-start;
    margin: 16px;
}

.starter {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.starter h1, .starter p {
    padding: 16px;
    margin: 16px;
    flex: 1; 
} 

.btn {
    display: inline-block;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    background-color: #9C51B6;
    border: 1px solid #3a1c44;
    color: white;
}

.btn:hover {
    background-color: #FFBDF7
}

.btn-starter {
    margin: 24px;
    flex: 1;
    font-weight: bold;
    background-color: #FF9171;
    color: black;
}

.btn-starter:hover {
    background-color: #F8D6B8;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: center;
    gap: 10px;
    margin: 20px 0;
}

.btn-highscore {
    font-weight: bold;
    color: black;
    background-color: #D3A13B;
}

.btn-highscore:hover {
    background-color: #FFF9D4;
}

.restart-btn {
    font-weight: bold;
    color: black;
    background-color: #03A9F4;
}

.restart-btn:hover {
    background-color: #b3e5fc;
}

.btn.correct {
    color: black;
    background-color: green;
}

.btn.wrong {
    color: black;
    background-color: red;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
    max-width: 80%;
    margin: auto;
}

.highscore {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}

.highscore p {
    padding: 16px;
}

.hide {
    display: none;
}